/* write your override styles here */
#wall .tag-1:first-child {
  display: none;
}

#wall #tag-2:nth-child(2) {
  display: none;
}

#wall #tag-3.slick[class$=wicked] {
  display: none;
}

#tag-4 ~ .parent {
  display: none;
}